mupen64plus-core/projects/unix/_obj*/
mupen64plus-core/projects/unix/libmupen64plus*.so*
mupen64plus-core/projects/msvc/*
!mupen64plus-core/projects/msvc/mupen64plus-core.vcxproj
!mupen64plus-core/projects/msvc/mupen64plus-core.vcxproj.filters
mupen64plus-core/src/asm_defines/*.h

mupen64plus-input-sdl/projects/unix/_obj*/
mupen64plus-input-sdl/projects/unix/mupen64plus-input-sdl*.so
mupen64plus-input-sdl/build/
mupen64plus-input-sdl/projects/msvc/*
!mupen64plus-input-sdl/projects/msvc/mupen64plus-input-sdl.vcxproj

mupen64plus-audio-sdl/projects/unix/_obj*/
mupen64plus-audio-sdl/projects/unix/mupen64plus-audio-sdl*.so
mupen64plus-audio-sdl/projects/msvc/*
!mupen64plus-audio-sdl/projects/msvc/mupen64plus-audio-sdl.vcxproj

mupen64plus-rsp-hle/projects/unix/_obj*/
mupen64plus-rsp-hle/projects/unix/mupen64plus-rsp-hle*.so
mupen64plus-rsp-hle/projects/msvc/*
!mupen64plus-rsp-hle/projects/msvc/mupen64plus-rsp-hle.vcxproj

GLideN64
